language: julia
julia:
  - nightly
  - 1.5.2
codecov: true 
coveralls: true 

before_install:
- sudo apt-cache search cmake
- sudo apt-get install -y software-properties-common
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt update
- sudo apt install g++-7 -y

install:
- julia -E 'using Pkg; Pkg.add("boost_jll"); Pkg.add("Eigen_jll")' 
- export JULIA_ROOT=/home/travis/julia
- export PATH=$JULIA_ROOT/bin:$PATH
# 
- export CC=gcc-7
- export CXX=g++-7
- export JULIA_NUM_THREADS=2
#
- export BOOST_ROOT=`find /home/travis/.julia/artifacts -name libboost_thread.so | xargs dirname | xargs dirname`
#
- ./tools/travis-install-libint.sh
- export LIBINT_ROOT=/home/travis/libint-install

script:
- julia -E "using Pkg; Pkg.instantiate()"
- julia -E "using Pkg; Pkg.build(\"JuliaChem\")"
#- cat /home/travis/build/davpoolechem/JuliaChem.jl/deps/build.log
#- ldd /home/travis/build/davpoolechem/JuliaChem.jl/deps/src/../libjeri.so
#- nm /home/travis/libint-install/lib/libint2.so | grep "libint2_build"
#- echo $LD_LIBRARY_PATH
#- julia -E "using Pkg; Pkg.update()"
#- cat ~/.julia/packages/MPI/z1lDn/deps/build.log
#- cd deps && julia build.jl && cd ../
- julia --code-coverage test/runtests-travis.jl

after_success:
- julia -e 'using Pkg; cd(Pkg.dir("JuliaChem")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
